<%= form_with(model: doubt) do |form| %>
  <% if doubt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doubt.errors.count, "error") %> prohibited this doubt from being saved:</h2>

      <ul>
        <% doubt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :title %>
    <%= form.text_field :title, class:"form-control",placeholder:"Title" %>
  </div>
  <br>
  <div class="field form-group">
    <% form.label :description %>
    <%= form.text_field :description, class:"form-control", placeholder:"Write your doubt" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :status %>
    <%= form.text_field :status, class:"form-control", placeholder:"unresolved" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
