<%if user_signed_in?%> 
<h1>Doubts List</h1>

<table class="table table-striped table-hover table-bordered">
   <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doubts.each do |doubt| %>
      <tr>
        <td><%= doubt.title %></td>
        <td><%= doubt.description %></td>
        <td><%= doubt.status %></td>
        <td><%= link_to 'Show', doubt %></td>
        <%if doubt.user == current_user%>
        
        <td><%= link_to 'Edit', edit_doubt_path(doubt) %></td>
<%
=begin%>
 /        <td><%= link_to 'Destroy', doubt, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
<%
=end%>
        <td><%= button_to "Delete", doubt, :method => "delete" %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doubt', new_doubt_path, class:"btn btn-secondary" %>


<%else%>

<style type="text/css">
    .jumbotron {
      padding: 4rem 2rem;
      margin-bottom: 2rem;
      background-color: var(--bs-light);
      border-radius: .3rem;  
    }
</style>

<div class="jumbotron">
  <h1 class="display-4">
   <h3>Please Sign In</h3>
    <br>
  </h1>

  <p class="lead">
      
  <hr class="my-4">
  If new to Portal please Sign Up
</div>




<%end%>